- if value.nil?
  .square{id: id}
- elsif !value.nil? && !Grid.rows.include?(value) && !Grid.header.include?(value)
  .square.square_ship{id: id, class: value[1], style: "background-color: #{Grid.ship_colors[value[1]]};"}
- elsif !value.nil? && (Grid.rows.include?(value) || Grid.header.include?(value))
  .square.square_border{id: id}

    .content
      .table
        .table-cell
          = value unless id.nil?
