- if value.nil?
  .square{id: id}
- elsif !value.nil? && !Grid.rows.include?(value) && !Grid.header.include?(value)
  .square_ship{id: id, class: value}
- elsif !value.nil? && (Grid.rows.include?(value) || Grid.header.include?(value))
  .square_border{id: id}

    .content
      .table
        .table-cell
          = value unless id.nil?
